[user]
	name = zancas
	email = zancas@zingolabs.org
    signingkey = 6DB04B434E55B7BF
[alias]
	lol = log --graph --decorate --oneline --color
[commit]
    gpgSign = true
[core]
    editor = hx
	excludefile = /root/.gitignore
[init]
	defaultBranch = main
[gpg]
    program = gpg2
[merge]
	conflictStyle = diff3
