[user]
	name = zancas
	email = zancas@zingolabs.org
[alias]
	lol = log --graph --decorate --oneline --color
[commit]
	template = ~/dotfiles/.git-commit-template.txt
[core]
	excludefile = /root/.gitignore
[init]
	defaultBranch = main
